In [14]:
import pandas as pd
import numpy as np

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

print (df)

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

Sum all prices

In [15]:
sum(df.Price)

109000

In [16]:
df['Price'].mean()

27250.0

In [17]:
df.describe()

              Price
count      4.000000
mean   27250.000000
std     5560.275773
min    22000.000000
25%    24250.000000
50%    26000.000000
75%    29000.000000
max    35000.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   4 non-null      object
 1   Price   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [19]:
df['Price'].mean()

27250.0

In [20]:
df.Price.median()

26000.0