In [3]:
import pandas as pd

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

print (df)

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

Sum all prices

In [4]:
sum(df.Price)

109000

In [9]:
df['Price'].mean()

27250.0

In [13]:
df.describe()

              Price
count      4.000000
mean   27250.000000
std     5560.275773
min    22000.000000
25%    24250.000000
50%    26000.000000
75%    29000.000000
max    35000.000000